app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/crud.cpython-310.pyc
app/__pycache__/util.cpython-310.pyc
app/models/__pycache__/__init__.cpython-310.pyc
app/views/__pycache__/__init__.cpython-310.pyc
app/views/__pycache__/admin.cpython-310.pyc
app/views/__pycache__/technician.cpython-310.pyc
app/views/__init__.py
