{% extends "layout.html" %} 
{% block title %}COM CAR{%endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}" />
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %} 
{% block inner_content %}


{% include "sidebar_new_admin.html" %}

<div class="page-content p-4" id="content">
<div class="main-container">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                        <div class="title">
                            <h4><i class="micon dw dw-settings2 mtext"></i></h4>
                        </div>


<div class="container-fluid right-content">
<form  method="post" >
  <input type="hidden" name="task_id" value="{{ tasks.task_id }}">
      <div class="row">
        <div class="col"><h1>Update Chiplevel</h1></div>
        <div class="col">
    <button class="btn btn-dark" role="submit" data-bs-toggle="modal" data-bs-target="#">Save</button>

    </div>
  </div>


  <div class="row">
    <div class="col">
      <label>Customer Name</label>
      <h1>{{ tasks.customer.name }}</h1>
    </div>
    <div class="col">
        <label>Status</label>
        <select class="form-control" name="status">
            <option value=" " id="status">Select an option</option>
          {% for status in ["Sent","Received"] %}
          <option value={{status}} {{  'selected' if flag and status==chiplevel.status  }}>{{status}}</option>
          {% endfor %}
        </select>
    </div>
      
  </div>

    <div class="row">
      <div class="col">
        <label>Outward Date</label>
        <input type="Date" name="outward_date" value='{{chiplevel.outward_date if flag }}' class="form-control" required>
      </div>
      <div class="col">
        <label>Inward Date</label>
        <input type="Date" name="inward_date" value='{{chiplevel.inward_date if flag }}' class="form-control" >
      </div>    
    </div>


      <div class="row">
        <div class="col">
          <label>Partner Name</label>
          <input type="text" 
 style="text-transform: capitalize;"list="partner_name" class="form-control" placeholder="Partner Name" value="{{chiplevel.partners.partner_name if flag and chiplevel.partners}}"
              name="partner_name" required autocomplete="off">
          
          <datalist id="partner_name">
            {% for partner in partners -%}
          <option value={{partner.partner_name}} {{ 'selected' if flag and partner == partner.partner_id  }}>{{ partner.partner_name }}</option>
          {% endfor -%}
          </datalist>
        
        </div>
        
        <div class="col">

        </div>

        
      </div>

      <div class="row">
        <div class="col">
          <label>Est Days</label>
          <input type="number" name="est_days" value='{{ chiplevel.est_days  if flag}}' class="form-control" required >
        </div>
        <div class="col">
          <label>Est Charges</label>
          <input type="number" name="est_charge" value='{{ chiplevel.est_charge  if flag}}'  class="form-control" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Partner Charges</label>
          <input type="number" name="partner_charge" value='{{ chiplevel.partner_charge if flag}}'  class="form-control">
        </div>
        <div class="col">
          <label>Customer Charges</label>
          <input type="number" name="recived_charge" value='{{ chiplevel.recived_charge  if flag}}'  class="form-control">
        </div>
        
      </div>
      
      <div class="row">
        <div class="col">
          <label>Remarks</label>
          <input type="text" 
 style="text-transform: capitalize;"name="remarks" value='{{ chiplevel.remarks if flag}}' class="form-control">
        </div>
      </div>

      <h1>Product Details</h1>

      <div class="row">
        <div class="col">
          <label>Product Type</label>
          <h1>{{ tasks.product.product_name }}</h1>
          
        </div>
        <div class="col">
          <label>Product Model</label>
          <h1>{{tasks.product.product_company}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Problem</label>
          <h1>{{ tasks.problem  }}</h1>
        </div>
        <div class="col">
          <label>Product Details</label>
          <h1>{{ tasks.product_details }}</h1>
        </div>
      </div>
   
      <div class="row">
        <div class="col">
          <label>Items Sent</label>
          <input type="text" 
 style="text-transform: capitalize;"name="items_sent" value='{{ chiplevel.items_sent  if flag}}' class="form-control">
        </div>
        <div class="col">
          <label>Serial No</label>
          <h1>{{ tasks.serial_no }}</h1>
        </div>
      </div>

      
        
        
      </div>
    </form>

      
    </div>
</div>

{% endblock %}