{% extends "layout.html" %} 
{% block title %}COM CAR{%endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}" />
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %} 
{% block inner_content %}

{% include "sidebar_admin.html" %}
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"></small></button>
  
    <h1>Customers</h1>
    <div class="input-group" style="padding-top: 10px;">
      
      
      <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;">
          <input type="search" placeholder="hello" id="form1" class="form-control" />

        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
        <div class="form-outline"  style="padding-left: 10px;padding-bottom: 5px;">
          <input type="search" id="form1"  class="form-control" />
          
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
    </div>        


    <div class="table-responsive">
      <br>
      
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">C.ID</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Phone No</th>
                  <th scope="col">Address</th>
                  <th scope="col">View Work</th>
              </tr>
          </thead>
          <tbody class="table-group-divider">
      
              {% for cust in customers -%}
              <tr>
                  <th scope="row">
                      <p>{{ cust.customer_id }}</p>
                  </th>
                  <td>
                      <p>{{ cust.name }}</p>
                  </td>
                  <td>
                      <p>{{ cust.phone_no }}</p>
                  </td>
                  <td>
                      <p>{{ cust.address }}</p>

                  </td>
                  <td>
                    <button role="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"  data-bs-target="#viewtask">View</button>


                  </td>
              </tr>
              {% endfor %}

          </tbody>
      </table>

  </div>

   
  
  </div>

{% endblock %}