{% extends "layout.html" %} 
{% block title %}COM CAR{%endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}" />
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %} 
{% block inner_content %}

{% include "sidebar_admin.html" %}


<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"></small></button>
  
    <div class="container-fluid right-content">
        <!-- Add non-sidebar contents here -->
        
        <h1 class="h2">Onsite</h1>
        
        
        <!-- How to make this a popup? -->
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add_task">Add Task</button>
    
        <div class="input-group" style="padding-top: 10px;">
            <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;" >
              <input type="date" id="form1" class="form-control" />
              
            </div>
            <button type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
            <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;">
                <input type="search" placeholder="hello" id="form1" class="form-control" />
    
              </div>
              <button type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
              <div class="form-outline"  style="padding-left: 10px;padding-bottom: 5px;">
                <input type="search" id="form1"  class="form-control" />
                
              </div>
              <button type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
          </div>        
          
        <form method="post">
        <div id="add_task" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="submitIdeaBackdropLabel" aria-hidden="true">
            <!-- Popup contents, todo, make this actual pop on the prev button is clicked -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="submitIdeaBackdropLabel">Add Task</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div class="mb-3">
                                    
                                <input type="date" class="form-control"  name="date" required>
                            </div>
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" placeholder="Customer Name"  name="customer_name" required>
                            </div>
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" placeholder="Phone No" name="phone_no" required>
                            </div>
                            <div class="mb-3">
                                
                                <input type="text"  class="form-control" placeholder="Address" name="address" required>
                            </div>
                            <div class="mb-3">
                                <select class="form-control" name="technician">
                                    <option value="installation" id="installation">staff</option>
                                    <option value="service" id="service">Service</option>
                                    <option value="warranty" id="warranty">Warranty</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-control" name="work">
                                    <option value="installation" id="installation">Installation</option>
                                    <option value="service" id="service">Service</option>
                                    <option value="warranty" id="warranty">Warranty</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" placeholder="problem" name="problem" required>
                            </div>
                            
                            <button type="submit" class="btn btn-dark">Add</button>
                                      
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
        <div>
            <br>
            <h2 class="h3">Work</h2>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">OS.ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Technician</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for idea in ideas -%}
                    <tr>
                        <th scope="row">
                            1
                        </th>
                        <td>
                            <p>2</p>
                        </td>
                        <td>
                            <p>3</p>
                        </td>
                        <td>
                            <p>3</p>
                        </td>
                        <td>
                            <p>3</p>
                        </td>
                        <td>
                            <a role="button" class="btn btn-primary btn-sm" data-bs-target="#viewIdea">View</a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not ideas %}
            <div style="text-align: center;">
            <P>You haven't submitted any Ideas</P>
            </div>
            {% endif %}
        </div>
</div>
</main>

        

{% endblock %}