{% extends "layout.html" %}
{% block title %}COM CAR{%endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %}
{% block inner_content %}

{% include "sidebar_new_admin.html" %}

<div class="page-content p-4" id="content">
<div class="main-container">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                        <div class="title">
                            <h4><i class="micon dw dw-settings2 mtext"></i></h4>
                        </div>

  <a href="{{ url_for('onsite') }}"><i class="fa fa-chevron-circle-left fa-3x"></i>
  </a><br>


  <div class="container-fluid right-content">

    {% if message %}
    <div class="alert alert-danger" style="width: 250px;" role="alert">
      {{message}}
    </div>
    {% endif -%}

    
    {% for error in errors %}
    <div class="alert alert-danger" style="width: 250px;" role="alert">
        {{error}}
    </div>
    {% endfor -%}


    <form method="post" action="{{ url_for('onsite_task_update', task_id=tasks.task_id) }}">
      <div class="row">
        <div class="col">
          <h1>View Task</h1>
        </div>
        <div class="col">
          <a href="{{ url_for('onsite_download_report',task_id=tasks.task_id) }}" target="_blank"><button type="button"
              class="btn btn-dark">Download</button></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3 style="font-family: 'Times New Roman', serif; ">Task ID</label>
        </div>
        <div class="col">
          <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.task_id }}</h3>
        </div>
        <div class="col">
          <h3 style="font-family: 'Times New Roman', serif; ">Task Created</label>
        </div>
        <div class="col">
          <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.creation_date }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3 style="font-family: 'Times New Roman', serif; ">Service Date</h3>
        </div>
        <div class="col">
          <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.date }}</h3>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
  </div>



  <div class="row">
    <div class="col">
      <h3 style="font-family: 'Times New Roman', serif;">Customer Name</h3>
    </div>
    <div class="col">
      <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.customer.name }}</h3>
    </div>
    <div class="col">
      <h3 style="font-family: 'Times New Roman', serif; ">Phone No</h3>
    </div>
    <div class="col">
      <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.customer.phone_no }}</h3>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <h3 style="font-family: 'Times New Roman', serif; ">Engineer 1</h3>
    </div>
    <div class="col">
      <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.technician.name }}</h3>
    </div>
    <div class="col">
      <h3 style="font-family: 'Times New Roman', serif; ">Engineer 2</h3>
    </div>
    <div class="col">
      <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.technician2.name }}</h3>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <h3 style="font-family: 'Times New Roman', serif; ">Service Type</h3>
    </div>
    <div class="col">
      <h3 style="font-family:  Tahoma, sans-serif;">{{ tasks.service_type }}</h3>
    </div>
    <div class="col">
      <h3 style="font-family: 'Times New Roman', serif; ">Problem</h3>
    </div>
    <div class="col">
      <h3>{{ tasks.problem }}</h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="mb-3">
      <label>Materials</label>
      <input type="textarea" style="text-transform: capitalize;" class="form-control" value="{{ resources.material }}"  placeholder="Materials" name="material"
        required>
    </div>
    <div class="mb-3">
      <label>Service Charges</label>
      <input type="text" 
 style="text-transform: capitalize;"class="form-control" value="{{ resources.service_charge }}" placeholder="Service Charge"
        name="service_charge" required>
    </div>
    <div class="mb-3">
      <label>Received Charges</label>
      <input type="text" 
 style="text-transform: capitalize;"class="form-control" value="{{ resources.received_charge }}" placeholder="Received Charge"
        name="received_charge" required>
    </div>
    <div class="mb-3">
      <label>Review</label>
      <input type="text"  style="text-transform: capitalize;"class="form-control" value="{{ resources.review }}" placeholder="Customer Feedback"
        name="review" required>
    </div>

  </div>

  <button type="submit" style="max-width: 100px;" class="btn btn-dark">Update</button>
  </form>

  <button type="button" data-toggle="modal" style="margin-left: 10px;max-width: 100px;" class="btn btn-dark" data-target="#exampleModalCenter">Close</button>
<br>
<br>
<h1></h1>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Close Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you conform that you have completed the task and there is no payment pending.
        </div>
        <div class="modal-footer">
          <a href="{{ url_for('admin_onsite_update_status', task_id=tasks.task_id) }}">
            <button type="button" action=class="btn btn-primary">Yes, Close Task</button>
          </a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

        </div>
      </div>
    </div>
  </div>
</div>
</div></div></div>
{% endblock %}