{% extends "layout.html" %} 
{% block title %}COM CAR{%endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}" />
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %} 
{% block inner_content %}

{% include "sidebar_admin.html" %}
<style>
    .example input{
      padding: 10px;
      position:;
      height: 40px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      align-items: center;
      width: 80%;
      background: #f1f1f1;
    }

    .example input.zz{
      padding: 10px;
      
      height: 40px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      align-items: center;
      width: 80%;
      background: #f1f1f1;
    }
    
    .example button {
      float: left;
      width: 20%;
      height: 40px;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }
    
    
    
    </style>



<main class="d-flex flex-nowrap">

    <div class="container-fluid right-content">
        <!-- Add non-sidebar contents here -->
        <br>
        <br>
        <br>
        <h1 class="h2">Onsite Service</h1>
        
        
        <!-- How to make this a popup? -->
        <button class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#submitIdea">Add Task</button>
        
        <div class="example" style="max-width:300px;max-height: 500px;padding-top: 10px;padding-bottom: 10px;">
            <input  type="text" placeholder="Search" name="search">
            <input  class="zz" placeholder="Search" name="search" >
            <button type="submit"><i class="fa fa-search"></i></button><br>
        </div>
        
           
        <div id="submitIdea" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="submitIdeaBackdropLabel" aria-hidden="true">
            <!-- Popup contents, todo, make this actual pop on the prev button is clicked -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="submitIdeaBackdropLabel">Add Technician</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" placeholder="Name"  name="name" required>
                            </div>
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" placeholder="Username" name="username" required>
                            </div>
                            <div class="mb-3">
                                
                                <input type="password"  class="form-control" placeholder="Password" name="password" required>
                            </div>
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" placeholder="Phone No" name="Phone_no" required>
                            </div>
                            
                            <button type="submit" class="btn btn-dark">Submit</button>
                                      
                    </div>
                    
                </div>
            </div>
        </div>
        <div>
            <br>
            <h2 class="h3">Technicians</h2>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">T.ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for idea in ideas -%}
                    <tr>
                        <th scope="row">
                            1
                        </th>
                        <td>
                            <p>2</p>
                        </td>
                        <td>
                            <p>3</p>
                        </td>
                        <td>
                            <a role="button" class="btn btn-primary btn-sm" data-bs-target="#viewIdea">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not ideas %}
            <div style="text-align: center;">
            <P>You haven't submitted any Ideas</P>
            </div>
            {% endif %}
        </div>
</div>
</main>


{% endblock %}