{% extends "layout.html" %}
{% block title %}Dashboard{%endblock %}
{% block extra_head %}
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %}
{% block inner_content %}

{% include "sidebar_admin.html" %}

<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
            class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"></small></button>

    <div class="container-fluid right-content">
        <!-- Add non-sidebar contents here -->

        <h1 class="h2">Partners</h1>

        {% for error in errors %}
        <div class="alert alert-danger" style="width: 250px;" role="alert">
            {{error}}
        </div>
        {% endfor -%}

        <!-- How to make this a popup? -->
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#submitIdea">Add Technician</button>

        <form action="/admin/partners" method="post">
            <div class="input-group" style="padding-top: 10px;">
                <input type="hidden" name="ftype" value="on" />


                <div class="form-outline" style="padding-left: 10px;padding-bottom: 5px;">
                    <input type="search" placeholder="Technician" id="form1" class="form-control" name="ftechnician" />

                </div>

                <div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <form method="POST"  autocomplete="off">
            <div id="submitIdea" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="submitIdeaBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="submitIdeaBackdropLabel">Add Partners</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">


                            <div class="mb-3">

                                <input type="text" class="form-control" placeholder="Name" name="partner_name" required>
                            </div>
                            
                            <div class="mb-3">

                                <input type="text" class="form-control" placeholder="Phone No" name="phone_no" required>
                            </div>
                            
                            <div class="mb-3">

                                <input type="text" class="form-control" placeholder="Address"  autocomplete="off" name="partner_address" required />
                            </div>

                            <button type="submit" class="btn btn-dark">Submit</button>

                        </div>

                    </div>
                </div>
            </div>
        </form>
        <script>
            $(document).ready(function() {
              $('input').attr('autocomplete', 'off');
            });
          </script>
        <div class="table-responsive">
            <br>
            <h2 class="h3">Partners</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">P.ID</th>
                        <th scope="col">Name</th>
                        
                        <th scope="col">Phone No</th>
                        <th scope="col">Address</th>
                        <th scope="col">Work</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">

                    {% for partn in partners -%}
                    <tr>
                        <th scope="row">
                            <p>{{ partn.partner_id }}</p>
                        </th>
                        <td>
                            <p>{{ partn.partner_name }}</p>
                        </td>
                        <td>
                            <p>{{ partn.phone_no }}</p>

                        </td>
                        <td>
                            <p>{{ partn.partner_address }}</p>

                        </td>
                        <td>
                            <a ><button
                                    role="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#viewtask">View</button></a>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>


    </div>
    </main>




    {% endblock %}