

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='sidebar_style.css') }}" >
		<link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

		
	<nav>
		<div class="logo">
		  <i class="bx bx-menu menu-icon"></i>
		  <span class="logo-name">Karthik</span>
		</div>
  
		<div class="sidebar">
		  <div class="logo">
			<i class="bx bx-menu menu-icon"></i>
			<span class="logo-name">Service Web</span>
		  </div>
  
		  <div class="sidebar-content">
			<ul class="lists">
			  <li class="list">
				<a href="{{ url_for('admin_dashboard') }}" class="nav-link">
				  <i class="bx bx-home-alt icon"></i>
				  <span class="link">Dashboard</span>
				</a>
			  </li>
			  <li class="list" >
				<a href="{{ url_for('technician') }}" class="nav-link">
				  <i class="bx bx-bar-chart-alt-2 icon"></i>
				  <span class="link">Technician</span>
				</a>
			  </li>
			  <li class="list">
				<a href="{{ url_for('onsite') }}" class="nav-link">
				  <i class="bx bx-bell icon"></i>
				  <span class="link">Onsite</span>
				</a>
			  </li>
			  <li class="list">
				<a href="{{ url_for('instore') }}" class="nav-link">
				  <i class="bx bx-message-rounded icon"></i>
				  <span class="link">Instore</span>
				</a>
			  </li>
			  <li class="list">
				<a href="{{ url_for('chiplevel') }}" class="nav-link">
				  <i class="bx bx-pie-chart-alt-2 icon"></i>
				  <span class="link">Chiplevel</span>
				</a>
			  </li>
			  <li class="list">
				<a href="{{ url_for('warranty') }}" class="nav-link">
				  <i class="bx bx-heart icon"></i>
				  <span class="link">Warranty</span>
				</a>
			  </li>
			  <li class="list">
				<a href="{{ url_for('expenditure') }}" class="nav-link">
				  <i class="bx bx-folder-open icon"></i>
				  <span class="link">Expenditure</span>
				</a>
			  </li>
			  <li class="list">
				<a href="{{ url_for('order') }}" class="nav-link">
				  <i class="bx bx-folder-open icon"></i>
				  <span class="link">Order</span>
				</a>
			  </li>
			  <li class="list">
				<a href="{{ url_for('follow_up') }}" class="nav-link">
				  <i class="bx bx-folder-open icon"></i>
				  <span class="link">Follow Up</span>
				</a>
			  </li>
			</ul>
  
			<div class="bottom-cotent">
			  <li class="list">
				<a href="#" class="nav-link">
				  <i class="bx bx-cog icon"></i>
				  <span class="link">------</span>
				</a>
			  </li>
			  <li class="list">
				<a href="#" class="nav-link">
				  <i class="bx bx-log-out icon"></i>
				  <span class="link">------</span>
				</a>
			  </li>
			</div>
		  </div>
		</div>
	  </nav>
  
	  <section class="overlay"></section>
  
	  <script>
		const navBar = document.querySelector("nav"),
		  menuBtns = document.querySelectorAll(".menu-icon"),
		  overlay = document.querySelector(".overlay");
  
		menuBtns.forEach((menuBtn) => {
		  menuBtn.addEventListener("click", () => {
			navBar.classList.toggle("open");
		  });
		});
  
		overlay.addEventListener("click", () => {
		  navBar.classList.remove("open");
		});
	  </script>